{% extends "base.html" %}
{% block content %}

<div class="card text-dark bg-light mb-3 container-sm">
    <div class="card-body">
        <h3 class="card-title text-center">Upload your workspace</h3>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('add_workspace') }}">
            <!-- Image -->
            <div class="mb-3">
                <label for="file" class="form-label">Select image to upload</label>
                <input class="form-control validate" type="file" id="image" name="image" required>
            </div>
            {% block form %}
            {% endblock %}
            {% endblock %}