{% extends "base.html" %}
{% block content %}

<div class="card text-dark bg-light mb-3 container-sm">
    <div class="card-body">
        <h3 class="card-title text-center">My work space</h3>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('add_workspace') }}">
            <!-- Image -->
            <div class="mb-3">
                <label for="file" class="form-label">Select image to upload</label>
                <input class="form-control validate" type="file" id="image" name="image" required>
            </div>
            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" minlength="20"
                    maxlength="250" required></textarea>
            </div>
            <!-- Product 1 -->
            <!-- Dropdown -->
            <label for="item1" class="form-label">Item 1 (optional)</label>
            <input class="form-control" list="datalistOptions" id="category1" name="category1"
                placeholder="select">
            <datalist id="datalistOptions">
                <option value="Chair">
                <option value="Desk">
                <option value="Keyboard">
                <option value="Monitor">
                <option value="Mount">
                <option value="Mouse">
                <option value="Other hardware">
                <option value="PC/Laptop">
            </datalist>
            <!-- Product -->
            <input class="form-control" type="text" placeholder="Product" aria-label="Product/Brand Name" id="product1" name="product1">
            <!-- URL link -->
            <input class="form-control" type="text" placeholder="URL link" aria-label="URL link" id="url1" name="url1"><br>

            <div class="row justify-content-end">
                <!-- Submit button -->
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Register <i class="fas fa-check"></i></button>
                </div>
                <!-- Register -->
                <div class="mb-3">
                    <a href="{{ url_for('login') }}" class="btn btn-danger">Already registered? <i
                            class="fas fa-user"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}