{% extends "base.html" %}
{% block content %}

<div class="card text-dark bg-light mb-3 container-sm">
    <div class="card-body">
        <h3 class="card-title text-center">Edit your workspace</h3>
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('edit_workspace', user=setup.user_name) }}">
            <!-- Image -->
            <div class="mb-3">
                <label for="file" class="form-label">Select image to upload</label>
                <input class="form-control validate" type="file" id="image" name="image" required>
            </div>
            <!-- Description -->
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" minlength="20"
                    maxlength="250" required></textarea>
            </div>
            <!-- Product 1 -->
            <!-- Dropdown -->
            <label for="item_1" class="form-label">Item 1 (optional)</label>
            <input class="form-control" list="datalistOptions" id="category_1" name="category_1"
                placeholder="select">
            <datalist id="datalistOptions">
                <option value="Chair">
                <option value="Desk">
                <option value="Keyboard">
                <option value="Monitor">
                <option value="Mount">
                <option value="Mouse">
                <option value="Other hardware">
                <option value="PC/Laptop">
            </datalist>
            <!-- Product -->
            <input class="form-control" type="text" placeholder="Product" aria-label="Product/Brand Name" id="product_1" name="product_1">
            <!-- URL link -->
            <input class="form-control" type="text" placeholder="URL link" aria-label="URL link" id="url_1" name="url_1"><br>
            
            <!-- Product 2 -->
            <!-- Dropdown -->
            <label for="item_2" class="form-label">Item 2 (optional)</label>
            <input class="form-control" list="datalistOptions" id="category_2" name="category_2"
                placeholder="select">
            <!-- Product -->
            <input class="form-control" type="text" placeholder="Product" aria-label="Product/Brand Name" id="product_2" name="product_2">
            <!-- URL link -->
            <input class="form-control" type="text" placeholder="URL link" aria-label="URL link" id="url_2" name="url_2"><br>

            <!-- Product 3 -->
            <!-- Dropdown -->
            <label for="item_3" class="form-label">Item 3 (optional)</label>
            <input class="form-control" list="datalistOptions" id="category_3" name="category_3"
                placeholder="select">
            <!-- Product -->
            <input class="form-control" type="text" placeholder="Product" aria-label="Product/Brand Name" id="product_3" name="product_3">
            <!-- URL link -->
            <input class="form-control" type="text" placeholder="URL link" aria-label="URL link" id="url_3" name="url_3"><br>

            <div class="row justify-content-end">
                <!-- Submit button -->
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Edit <i class="fas fa-check"></i></button>
                </div>
                <!-- Register -->
                <div class="mb-3">
                    <a href="{{ url_for('login') }}" class="btn btn-danger">Cancel <i
                            class="fas fa-user"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}