{% extends "base.html" %}
{% block content %}

<div class="container">

    <!-- Jumbotron Header-->
    <header class="jumbotron my-5 text-center">
        <h2 class="display-3">Welcome to my home office</h2>
        <p class="lead">Over the course of the last year a lot of us have found ourselves working from home, this site
            has been setup so we can all share images of our own ideal home office setups so load yours up now. Let's
            see the good, the bad, the ugly and probably the funny ones as well! Enjoy.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}">Register here</a>
    </header>

    <!-- Page Features-->
    <div class="row text-center">
        {% for setup in setups %}
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img src="{{ setup.image }}" class="card-img-top" alt="..." />
                <div class="card-body">
                    <h4 class="card-title">User: {{ setup.user_name }}</h4>
                    <h5>Uploaded: {{ setup.upload_date }}</h5>
                    <p class="card-text">{{ setup.description }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="#!">Like</a>
                    <a class="btn btn-danger" href="#!">Find Out More!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
