{% extends "base.html" %}
{% block content %}

<div class="container">

    <!-- Jumbotron Header-->
    <header class="jumbotron my-5 text-center">
        <h2 class="display-3">Welcome to my home office</h2>
        <p class="lead">Over the course of the last year a lot of us have found ourselves working from home, this site
            has been setup so we can all share images of our own ideal home office setups so load yours up now. Let's
            see the good, the bad, the ugly and probably the funny ones as well! Enjoy.</p>
        <a class="btn btn-primary btn-lg" href="#!">Register here</a>
    </header>

    <!-- Page Features-->

    {% for setup in setups %}
    {{ setup.user_name }}<br>
    {{ setup.upload_date }}<br>
    {{ setup.image_url }}<br>
    {{ setup.image_description }}<br>
    {{ setup.item_one }}<br>
    {{ setup.item_two }}<br>
    {{ setup.item_three }}<br>
    {% endfor %}

    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/500x325" alt="..." />
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary" href="#!">Find Out More!</a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/500x325" alt="..." />
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni
                        sapiente,
                        tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary" href="#!">Find Out More!</a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/500x325" alt="..." />
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary" href="#!">Find Out More!</a></div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://via.placeholder.com/500x325" alt="..." />
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni
                        sapiente,
                        tempore debitis beatae culpa natus architecto.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary" href="#!">Find Out More!</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}