{% extends "base.html" %}
{% block content %}

<div class="card text-dark bg-light mb-3 container-sm">
    <div class="card-body">
        <h3 class="card-title text-center">Login</h3>
        <form method="POST" action="{{ url_for('login') }}">
            <!-- Username -->
            <div class="mb-3">
                <i class="fas fa-user"></i>
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,15}$" required>
            </div>
            <!-- Password -->
            <div class="mb-3">
                <i class="fas fa-lock"></i>
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" minlength="5" maxlength="20"  pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
            </div>
            <!-- login -->
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Login<i class="fas fa-key"></i></button>
            </div>
            <!-- Register -->
            <div class="mb-3">
                <a href="{{ url_for('register') }}" class="btn btn-danger">Register New User<i class="fas fa-user"></i></a>
            </div>
        </form>
    </div>
</div>



{% endblock %}