{% extends "base.html" %}
{% block content %}

<div class="card text-dark bg-light mb-2 container-sm">
    <div class="card-body">
        <h3 class="card-title text-center">
            {{ user.username }}'s Workspace
        </h3>
    </div>
</div>
<div class="card mb-3">
    <img src="{{ url_for('static', filename=setup.image) }}" alt="..." class="card-img">
    <div class="card-body">
        <h5 class="card-title">User: {{ setup.user_name }}</h5>
        <p class="card-text">{{ setup.description }}</p>
        <p class="card-text"><small class="text-muted">Uploaded: {{ setup.upload_date }}</small></p>
        {% for product in products %}
        <p>{{ product.category }}: <a target="_blank" href="{{ product.url }}">{{ product.product }}</a></p>
        {% endfor %}
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" href="{{ url_for('edit_workspace', user=setup.user_name) }}">Edit</a>
        <a class="btn btn-danger" href="#!">Delete</a>
    </div>
</div>

{% endblock %}