{% extends "base.html" %}
{% block content %}

<div class="card text-dark bg-light mb-2 container-sm">
    <div class="card-body">
        <h3 class="card-title text-center">
            {{ setup.user_name }}'s Workspace
        </h3>
    </div>
</div>

<div class="card mb-3">
    <img src="{{ url_for('static', filename=setup.image) }}" alt="..." class="card-img">
    <div class="card-body">
        <h5 class="card-title">User: {{ setup.user_name }}</h5>
        <p class="card-text">{{ setup.description }}</p>
        <p class="card-text"><small class="text-muted">Uploaded: {{ setup.upload_date }}</small></p>
        <p>{{ setup.category_1 }}: <a target="_blank" href="{{ setup.url_1 }}">{{ setup.product_1 }}</a></p>
        <p>{{ setup.category_2 }}: <a target="_blank" href="{{ setup.url_2 }}">{{ setup.product_2 }}</a></p>
        <p>{{ setup.category_3 }}: <a target="_blank" href="{{ setup.url_3 }}">{{ setup.product_3 }}</a></p>
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-danger" onclick="history.back(-1)"><i class="fas fa-arrow-circle-left"></i> Go Back</a><br>
    </div>
</div>

{% endblock %}